uFail.xcworkspace/xcuserdata/matthew.xcuserdatad
uFail.xcworkspace
Pods
uFail.xcworkspace/xcuserdata
uFail.xcodeproj
uFail.xcworkspace/xcshareddata
uFail.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
uFail.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
uFail.xcworkspace/xcuserdata/matthew.xcuserdatad/WorkspaceSettings.xcsettings
uFail.xcworkspace/contents.xcworkspacedata
Podfile.lock
*.orig
